@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;

  --asidebg: #131B20;
  --accentbg: #222c32;
  --messagebg: #265b4c;
  --actionbg: #2d3941;
  --contentbg: #222e35;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #262524;
    --foreground: #ededed;

    --asidebg: #131B20;
    --accentbg: #222c32;
    --messagebg: #265b4c;
    --actionbg: #2d3941;
    --contentbg: #222e35;
  }
}

html,
body {
  height: 100vh;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}